@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 8%);
    color: white;
    font-family: "Inter";
    font-size: 16px;
    text-align: center;
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0; 
}

p {
    font-size: 14px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    padding: 25px;
    background: hsl(0, 0%, 12%);
    border-radius: 10px;
}

/* PROFILE */

.profile-img {
    border-radius: 50%;
    width: 40%;
    margin: 15px 0;
}

.profile-name {
    margin-bottom: 7.5px;
    font-weight: 500;
}

.location {
    margin-bottom: 21px;
    color: hsl(75, 94%, 57%);
}

.quote {
    margin-bottom: 15px;
}

/* PROFILE LINK */

.profile-links {
    width: 100%;
}

.profile-links > a {
    display: block;
    text-decoration: none;
    color: white;
    background-color: hsl(0, 0%, 20%);
    font-weight: 500;
    padding: 10px 0px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.profile-links > a:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 12%);
}